<div class="navbar-minimize d-flex align-items-center justify-content-between px-3 py-2" style="width: 100%;">
  <!-- Minimize Sidebar Button - Always visible on larger screens, optionally toggle on mobile -->
  <button mat-raised-button (click)="minimizeSidebar()" 
          class="btn btn-just-icon btn-white btn-fab btn-round me-2 d-none d-md-inline-block">
    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
  </button>

  <!-- Hamburger for Mobile View (Visible on small devices only) -->
  <button class="btn btn-white btn-round d-inline-block d-md-none" (click)="sidebarToggle()">
    <i class="material-icons">menu</i>
  </button>

  <!-- Right Side Navigation Icons -->
  <div class="d-flex flex-wrap align-items-center ms-auto time-login-info">
    <i class="material-icons me-1">schedule</i>
    <span class="me-3 current-time">{{ currentTime }}</span>
    <span class="me-3 login-details">Login Details :- {{ username }}</span>
  
    <a class="nav-link me-2" (click)="AddCustomer()" title="Add Customer">
      <i class="material-icons">person_add</i>
    </a>
  
    <a class="nav-link me-2" [routerLink]="['/dashboard']" title="Dashboard">
      <i class="material-icons">dashboard</i>
    </a>
  
    <a class="nav-link" (click)="logout()" title="Log Out">
      <i class="material-icons">exit_to_app</i>
      <span class="d-none d-sm-inline">Log Out</span>
    </a>
  </div>
  
</div>
