<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card">
      <div class="card-header card-header-danger text-center"
        style="background: linear-gradient(60deg, #ef5350, #938989);margin-top: -2%;">
        <h4 class="card-title" style="font-weight: bold;">Change Password</h4>
      </div>
      <div class="card-body">
        <mat-card-content>
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()"
            style="display: flex; flex-direction: column; gap: 16px;margin-top: 7%;">

            <!-- Old Password -->
            <mat-form-field>
              <mat-label>Old Password</mat-label>
              <input matInput [type]="hideOld ? 'password' : 'text'" formControlName="oldPassword" />
              <mat-icon matSuffix (click)="hideOld = !hideOld" style="cursor: pointer;">
                {{hideOld ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error *ngIf="submitted && f.oldPassword.errors?.required">
                Old password is required
              </mat-error>
            </mat-form-field>

            <!-- New Password -->
            <mat-form-field>
              <mat-label>New Password</mat-label>
              <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword" />
              <mat-icon matSuffix (click)="hideNew = !hideNew" style="cursor: pointer;">
                {{hideNew ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error *ngIf="submitted && f.newPassword.errors?.required">
                New password is required
              </mat-error>
            </mat-form-field>

            <!-- Confirm Password -->
            <mat-form-field>
              <mat-label>Confirm Password</mat-label>
              <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword" />
              <mat-icon matSuffix (click)="hideConfirm = !hideConfirm" style="cursor: pointer;">
                {{hideConfirm ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error *ngIf="submitted && f.confirmPassword.errors?.required">
                Confirm password is required
              </mat-error>
              <mat-error *ngIf="submitted && changePasswordForm.errors?.passwordMismatch">
                Passwords do not match
              </mat-error>
            </mat-form-field>

            <div class="button-container">
              <button mat-raised-button type="button" class="btn btn-danger pull-right" type="submit">
                Change Password
              </button>
              <button mat-raised-button type="button" class="btn btn-danger pull-right"
                (click)="close()">cancel</button>
            </div>
          </form>
        </mat-card-content>
      </div>
    </div>
  </div>
</div>