<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Diesel Gatt :-</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="stockForm">

          <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput formControlName="date" type="date" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>DieselGatt</mat-label>
            <input matInput formControlName="dieselgatt" type="number" />
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="cancel();">cancel</button>
          <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>