<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">LOCL Credit Details :-</h4>
            </div>
            <div class="card-body">
                <div style="display:inline;width:100%">
                    <div class="d-flex align-items-center" style="gap: 36%;">
                        <mat-form-field appearance="fill" style="width: 50%;">
                            <input matInput [(ngModel)]="purchaDipStockseDetails.date" type="Date">
                        </mat-form-field>
                    </div>
                    <div style="display:inline;">
                        <button (click)="addTable()">Add Row</button>
                    </div>
                    <div style="display:inline;margin-left:25%">
                        <button (click)="cancel()">cancel</button>
                        <button (click)="order()">Add</button>
                    </div>
                </div>
                <br />
                <table class="style">
                    <tr>
                        <th>Credit</th>
                        <th>Balance</th>
                        <th>Remark</th>
                        <th>Delete</th>
                    </tr>
                    <tr *ngFor="let item of row; let i = index">
                        <td><input type="text" [(ngModel)]="item.credit" /></td>
                        <td><input type="text" [(ngModel)]="item.balance" /></td>
                        <td><input type="text" [(ngModel)]="item.remark" /></td>
                        <td>
                            <button (click)="deleteRow(i)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Grand Total:</td>
                        <td><input type="text" [value]="totalPrice()" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>