<div class="container-fluid">
   <!-- <div class="row">
         <div class="col-md-4 date-container">
            <input matInput type="date" [(ngModel)]="selectedDate" class="date-input">
            <button mat-raised-button class="btn btn-danger" style="margin-left: 4%;" (click)="downloadPDF()">&Pdf</button>
         </div>
         <div class="col-md-6 d-flex align-items-center">
            <p class="mb-0 mr-3">Select the Back Page</p>
            <input matInput type="date" [(ngModel)]="selectedDateBakepage" class="date-input"
            style="width: 47%;height: 62%;">
            <button mat-raised-button class="btn btn-danger" style="margin-left: 4%;"
               (click)="backPage()">&BackPage</button>
            <button mat-raised-button (click)="openITReturn()">Openit</button>
         </div>
         </div> -->
   <div class="row">
      <div class="col-md-12">
         <div class="card">
            <div class="card-header card-header-danger">
               <h4 class="card-title">Customer, Excel, Expenses & Profit/Loss Details :-</h4>
            </div>
            <div class="card-body">
               <div class="row align-items-center" style="margin-top: 10px;">
                  <div class="col-md-3 d-flex align-items-center">
                     <h5 style="margin: 0; color: #d32f2f; font-weight: 400;">Customer Details Jama & Baki:</h5>
                  </div>
                  <div class="col-md-3">
                     <label for="start-date-jb" class="form-label mb-0">Start Date:</label>
                     <input type="date" id="start-date-jb" [(ngModel)]="startDateJb" class="form-control" required />
                  </div>
                  <div class="col-md-3">
                     <label for="end-date-jb" class="form-label mb-0">End Date:</label>
                     <input type="date" id="end-date-jb" [(ngModel)]="endDateJb" class="form-control" required />
                  </div>
                  <!-- </div> -->
                  <div class="col-md-3" *ngIf="startDateJb && endDateJb">
                     <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Select Customer</mat-label>
                        <mat-select placeholder="Select Customer" [(ngModel)]="selectedCustomer"
                           (selectionChange)="onCustomerSelectionChange($event)">
                           <mat-option *ngFor="let customer of customers" [value]="customer">
                              {{ customer }}
                           </mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>
               </div>
               <hr />
               <div class="row align-items-center" style="margin-top: 10px;">
                  <div class="col-md-3 d-flex align-items-center">
                     <h5 style="margin: 0; color: #d32f2f; font-weight: 400;">All Detail Set in Excel:</h5>
                  </div>
                  <div class="col-md-3">
                     <label class="form-label mb-0">Start Date:</label>
                     <input type="date" [(ngModel)]="startDate" class="form-control" />
                  </div>
                  <div class="col-md-3">
                     <label class="form-label mb-0">End Date:</label>
                     <input type="date" [(ngModel)]="endDate" class="form-control" />
                  </div>
                  <div class="col-md-3 d-flex justify-content-center" style="margin-top: 25px;">
                     <button mat-raised-button (click)="exportToExcel()" style="width: 100%;">
                        <mat-icon>save</mat-icon> Export to Excel
                     </button>
                  </div>
               </div>
               <hr />
               <hr />
               <div class="row align-items-center" style="margin-top: 10px;">
                  <div class="col-md-3 d-flex align-items-center">
                     <h5 style="margin: 0; color: #d32f2f; font-weight: 400;">Total Customer Baki Details :</h5>
                  </div>
                  <div class="col-md-3">
                     <label class="form-label mb-0">Start Date:</label>
                     <input type="date" [(ngModel)]="startDateCustomerBaki" class="form-control" />
                  </div>
                  <div class="col-md-3">
                     <label class="form-label mb-0">End Date:</label>
                     <input type="date" [(ngModel)]="endDateCustomerBaki" class="form-control" />
                  </div>
                  <div class="col-md-3 d-flex justify-content-center" style="margin-top: 25px;">
                     <button mat-raised-button (click)="getBakiDetails()" style="width: 100%;">
                        <mat-icon>save</mat-icon> Total Baki
                     </button>
                  </div>
               </div>
               <hr />
               <div class="row align-items-center" style="margin-top: 10px;">
                  <div class="col-md-3 d-flex align-items-center">
                     <h5 style="margin: 0; color: #d32f2f; font-weight: 400;">Expenses Details:</h5>
                  </div>
                  <div class="col-md-3">
                     <label for="start-date-expen" class="form-label mb-0">Start Date:</label>
                     <input type="date" id="start-date-expen" [(ngModel)]="startDateExpen" class="form-control"
                        required />
                  </div>
                  <div class="col-md-3">
                     <label for="end-date-expen" class="form-label mb-0">End Date:</label>
                     <input type="date" id="end-date-expen" [(ngModel)]="endDateExpen" class="form-control" required />
                  </div>
                  <div class="col-md-3" *ngIf="startDateExpen && endDateExpen" style="margin-top: 10px;">
                     <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Select Expense</mat-label>
                        <mat-select placeholder="Select Expense" [(ngModel)]="selectedExpense"
                           (selectionChange)="expensesExcel($event)">
                           <mat-option *ngFor="let expense of expensesList" [value]="expense">
                              {{ expense }}
                           </mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>
               </div>
               <hr />
               <div class="row align-items-center" style="margin-top: 10px;">
                  <div class="col-md-3 d-flex align-items-center">
                     <h5 style="margin: 0; color: #d32f2f; font-weight: 400;">Profit & Loss:</h5>
                  </div>
                  <div class="col-md-3">
                     <label for="start-date-pdf" class="form-label mb-0">Start Date:</label>
                     <input type="date" id="start-date-pdf" [(ngModel)]="startDatePdf" class="form-control" required />
                  </div>
                  <div class="col-md-3">
                     <label for="end-date-pdf" class="form-label mb-0">End Date:</label>
                     <input type="date" id="end-date-pdf" [(ngModel)]="endDatePdf" class="form-control" required />
                  </div>
                  <div class="col-md-3 d-flex justify-content-center" style="margin-top: 25px;">
                     <button mat-raised-button (click)="pdf()" style="width: 100%;">
                        <mat-icon>save</mat-icon> Pdf
                     </button>
                  </div>
               </div>
               <hr />
               <div class="row align-items-center" style="margin-top: 10px;">
                  <div class="col-md-3 d-flex align-items-center">
                     <h5 style="margin: 0; color: #d32f2f; font-weight: 400;">Pump Baki Details:</h5>
                  </div>
                  <div class="col-md-3">
                     <label for="start-date-pdf" class="form-label mb-0">Start Date:</label>
                     <input type="date" id="start-date-baki" [(ngModel)]="startDateBaki" class="form-control"
                        required />
                  </div>
                  <div class="col-md-3">
                     <label for="end-date-pdf" class="form-label mb-0">End Date:</label>
                     <input type="date" id="end-date-baki" [(ngModel)]="endDateBaki" class="form-control" required />
                  </div>
                  <div class="col-md-3 d-flex justify-content-center" style="margin-top: 25px;">
                     <button mat-raised-button (click)="bakiDetails()" style="width: 100%;">
                        <mat-icon>save</mat-icon> Baki Details
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-12">
         <div class="card">
            <div class="card-header card-header-danger">
               <h4 class="card-title ">Employee Details :-</h4>
               <button mat-raised-button (click)="EmployeeDetails()" class="pull-right">
                  <mat-icon>control_point</mat-icon>
                  ADD
               </button>
            </div>
            <div class="card-body">
               <div class="table-responsive">
                  <table class="table">
                     <thead class=" text-primary">
                        <th>
                           Photo
                        </th>
                        <th>
                           Name
                        </th>
                        <th>
                           Account Number
                        </th>
                        <th>
                           Phone Number
                        </th>
                        <th>
                           Employee ID
                        </th>
                     </thead>
                     <tbody>
                        <tr *ngFor="let items of productList;let i = index " (click)="openDetails(items)">
                           <td>
                              <img [src]="thumbnails[i]" alt="Employee Photo"
                                 style="width: 50px; height: 50px; border-radius: 50%;" />
                           </td>
                           <td>{{items.name}}</td>
                           <td>{{items.phoneNumber}}</td>
                           <td>{{items.accountNumber}}</td>
                           <td>{{items.employeeId}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>