<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Oil Purchase :-</h4>
            </div>
            <div class="card-body">
                <div style="display:inline;width:50%">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput [(ngModel)]="purchaDipStockseDetails.date" type="date"
                                (change)="updateDate()">
                        </mat-form-field>
                    </div>
                    <div style="display:inline;margin-left:50%">
                        <button (click)="cancel()">Cancel</button>
                        <button (click)="order()">Add</button>
                    </div>
                </div>
                <br />
                <div style="overflow-x: auto;">
                    <table class="style text-nowrap">
                        <tr>
                            <th>Type</th>
                            <th>Vendor Name</th>
                            <th>SKU Name</th>
                            <th>SKU #</th>
                            <th>HSN</th>
                            <th>MRP</th>
                            <th>Qty (Ltr Or Kg)</th>
                            <th>Qty</th>
                            <th>Unit</th>
                            <th>Rate</th>
                            <th>Net Total</th>
                            <th>Discount</th>
                            <th>Taxable Value</th>
                            <th>GST %</th>
                            <th>GST Amount</th>
                            <th>Cess %</th>
                            <th>Cess Amount</th>
                            <th>Net Amount</th>
                        </tr>
                        <tr *ngFor="let item of row; let i = index">
                            <td><input type="text" [(ngModel)]="item.type" readonly /></td>
                            <td><input type="text" [(ngModel)]="item.vendorName" /></td>
                            <td><input type="text" [(ngModel)]="item.skuName" /></td>
                            <td><input type="text" [(ngModel)]="item.skuNumber" /></td>
                            <td><input type="text" [(ngModel)]="item.hsn" /></td>
                            
                            <td><input type="number" [(ngModel)]="item.mrp" class="no-spinner" [ngClass]="{'invalid-input': !isNumber(item.mrp)}" /></td>
                            <td><input type="number" [(ngModel)]="item.qtyLtrOrKg" class="no-spinner" [ngClass]="{'invalid-input': !isNumber(item.qtyLtrOrKg)}" /></td>
                            
                            <td><input type="number" [(ngModel)]="item.quantity" class="no-spinner" (keyup)="calculateRow(item)" [ngClass]="{'invalid-input': !isNumber(item.quantity)}" /></td>
                            
                            <td><input type="text" [(ngModel)]="item.unit" /></td>
                            
                            <td><input type="number" [(ngModel)]="item.rate" class="no-spinner" (keyup)="calculateRow(item)" [ngClass]="{'invalid-input': !isNumber(item.rate)}" /></td>
                            <td><input type="number" [(ngModel)]="item.netTotal" class="no-spinner" readonly /></td>
                            <td><input type="number" [(ngModel)]="item.discount" class="no-spinner" (keyup)="calculateRow(item)" [ngClass]="{'invalid-input': !isNumber(item.discount)}" /></td>
                            <td><input type="number" [(ngModel)]="item.taxableValue" class="no-spinner" readonly /></td>
                            <td><input type="number" [(ngModel)]="item.gstPercentage" class="no-spinner" (keyup)="calculateRow(item)" [ngClass]="{'invalid-input': !isNumber(item.gstPercentage)}" /></td>
                            <td><input type="number" [(ngModel)]="item.gstAmount" class="no-spinner" readonly /></td>
                            <td><input type="number" [(ngModel)]="item.cessPercentage" class="no-spinner" (keyup)="calculateRow(item)" [ngClass]="{'invalid-input': !isNumber(item.cessPercentage)}" /></td>
                            <td><input type="number" [(ngModel)]="item.cessAmount" class="no-spinner" readonly /></td>
                            <td><input type="number" [(ngModel)]="item.netAmount" class="no-spinner" readonly /></td>
                        </tr>
                        <tr>
                            <td colspan="17" style="text-align: right; padding-right: 10px;"><b>GrandTotal:</b></td>
                            <td><input type="text" [value]="totalPrice()" readonly /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>